<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.appestoque" 
	android:versionCode="1"
	android:versionName="1.3">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" android:maxSdkVersion="7" />
	<application android:icon="@drawable/icon"
				 android:label="@string/app_nome">
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.IniciarAtividade">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
<!-- 		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ProdutoImagemActivity"/> -->

		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.PreferenciaActivity"/>

		<!-- SUPRIMENTO -->
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ProdutoEditarActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ProdutoActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		
		<!-- CADASTRO -->		
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ClienteAdicionarActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ClienteEditarActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ClienteActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		
		<!-- FATURAMENTO -->		
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.PedidoItemEditarActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.PedidoEditarActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.PedidoIncluirActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.PedidoActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ItemActivity"/>
		<activity android:theme="@style/Tema.APPESTOQUE" android:name=".ui.ItemEditarActivity"/>
		
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
</manifest>